
.modal-content {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  width: 50%; 
  max-width: 600px; 
}

.modal-content{
  animation-name: modalFadeIn;
  animation-duration: 0.5s;
}

@keyframes modalFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 500px;
}

.close-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
  border-radius: 5px;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.input-filter {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 80px;
}
.radio-group{
  display: flex;
}
.radio-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.select-category {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.button-apply {
  padding: 10px 15px;
  background-color: #4CAF50;;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-reset {
  padding: 10px 15px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 20px 20px 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}